# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 

slack:
  bot_token: 
  signing_secret: 
  channel_id:
  webhook_url:
  modal_open:
~ 
